.page-header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--header-inline-padding) !important;
}



.nav>ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}

.nav>ul>li {
  margin-inline: 1dvw;
}

.content {
  height: var(--content-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  row-gap: 1rem;
  animation-name: fade-in;
  animation-duration: 1s;
}

.content > * {
  max-height: 80dvh;
  width: min(40rem, 95dvw);
}

.footer {
  height: var(--footer-height);
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 801px) {
  .page-header {
      display: block !important;
  }

}