.page-header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--header-inline-padding) !important;
  background-color: var(--background-color-1);
  flex-wrap: wrap;
}



.nav>ul {
  box-sizing: border-box;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}


.content {
  height: var(--content-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  row-gap: 1rem;
  animation-name: fade-in;
  animation-duration: 1s;
}


.content>* {
  max-height: 80dvh;
  width: min(40rem, 95dvw);
}

.footer {
  height: var(--footer-height);
  display: flex;
  align-items: flex-end;
  padding: var(--padding-y);
  padding-inline: var(--padding-x);
}

@media screen and (max-width: 800px) {
  .page-header {
    display: block !important;
  }

  .page-header ul {
    margin: 0;
  }

  .card>.header {
    display: grid;
    grid-template-columns: 1fr;
  }

  .content-no-vertical-center-mobile {
    justify-content: unset;
    padding-top: 1rem;
  }
}

@media screen and (max-height: 600px) and (max-width: 800px) {
  .content {
    display: block;
  }

  .content>* {
    margin-inline: auto;
  }

  .page-header {
    height: var(--small-screen-header-height) !important;
  }

  .content {
    height: var(--small-screen-content-height) !important;
  }

}

@media screen and (max-height: 400px) and (max-width: 800px) {

  .content {
    display: block;
  }

  .content>* {
    margin-inline: auto;
  }

  .page-header {
    height: var(--x-small-screen-header-height) !important;
  }

  .content {
    height: var(--x-small-screen-content-height) !important;
  }


}