#tabNav {
  background-color: black;
}

button.tab-nav-item {
  all: unset;
  font-size: 14pt;
  padding-inline: 1rem;
  color: white;
  transition: .5s;
  min-width: 5rem;
  text-align: center;
}

button.tab-nav-item:hover {
  cursor: pointer;
}

button.tab-nav-item[data-active=true] {
  background-color: white;
  color: black;
}