ul,
li {
  all: unset
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

script,
head {
  display: none;
}


#header {

  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-text {
  margin: 1rem;
  font-size: 30pt;
}

#nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nav-item {
  font-size: 14pt;
  width: min(15rem, 100%);
  text-align: center;
  transition: .2s;
}

.nav-item:hover {
  cursor: pointer;
  color: grey;
  text-decoration: underline;
}

#content {
  margin-top: 5rem;
  text-align: center;
  display: block;
}