@import url("root.css");
@import url("animations.css");
@import url("layout.css");
@import url("debug.css");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color-1);
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

section>h1 {
    border-bottom: 1px solid var(--text-color);
}

/* todo low: some times the padding of the nav items is so large that the last item overflows by some small amout */
/* === start of code related to todo === */
.nav-item {
    margin-inline: .2dvw;
    border-radius: var(--radius-1);
    transition: var(--transition-time);
}

.nav-item>a {
    display: block;
    padding: var(--padding-y);
    padding-inline: var(--padding-x);
    color: var(--text-color);
    overflow: hidden;
}

.nav-item>a:visited {
    color: var(--text-color)
}

.nav-item:hover {
    background-color: var(--background-color-2);
}
/* === end of code related to todo === */

.no-decor {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

th,
td,
tr {
    min-width: 5dvw;
    width: 100%;
    border-bottom: 1px solid var(--background-color-3);

}

th {
    text-align: left;
}

td {
    text-align: right;
}

.card {
    padding: var(--padding-y);
    padding-inline: var(--padding-x);
    background-color: var(--background-color-2);
    border-radius: var(--radius-1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--flex-gap);
}

.pill-container>span {
    padding: var(--padding-y);
    padding-inline: var(--padding-x);
    background-color: var(--background-color-3);
    border-radius: var(--radius-2);
}

.pill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var();
}